<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c196_ceciliaconstantine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.C196CeciliaConstantine">
        <activity
            android:name=".UI.ClassDetail"
            android:exported="false" />
        <activity
            android:name=".UI.ClassList"
            android:label="Class List"
            android:parentActivityName=".UI.TermList"
            android:exported="false" />
        <activity
            android:name=".UI.TermList"
            android:exported="false"
            android:parentActivityName=".UI.MainActivity"
            android:label="Term List"/>
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>